* {
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

html {
  height: 100%;
  padding: 0px;
  margin: 0px;
}

body {
  background: #ccc;
  height: 100%;
  padding: 0px;
  margin: 0px;
}

.matrix-canvas {
  image-rendering: -moz-crisp-edges;
  image-rendering: pixelated;
}

#hints {
  font-weight: lighter;
  background-color: #222;
  color: #eee;
  padding: 20px;
  padding-bottom: 40px;
  padding-left: 5vw;
  padding-right: 5vw;
  font-size: larger;
}

#hints a {
  font-weight: normal;
  color: #8ffdff;
  transition: all 0.2s;
}

#hints a:hover {
  text-shadow: 0px 0px 2px #71cfd1;
}

#main-container {
  width: 100%;
  height: 100%;
  /* border: 2px dashed red; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  position: relative;
}

#inner-container {
  /* border: 2px solid black; */
  width: 100%;
  height: 100%;
  display: flex;
  /* border: 2px dashed green; */
}

#display {
  width: 100%;
  /* width: calc(100% - 100px); */
}

#toolbar-outer {
  position: absolute;
  right: 0px;
  overflow-y: scroll;
  width: 150px;
  height: 100%;
  transition: all 0.2s;
  transition-delay: 0s;
}

#toolbar-outer.muted {
  pointer-events: none;
  transition-delay: 0.2s;
  opacity: 0.1;
  /* right: -50px; */
}

#toolbar-inner {
  float: right;
  box-shadow: -4px 0px 4px black;
  background-color: #eee8;
  width: 100px;
  min-height: 100%;
}

#block-type-list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  /* justify-content: left; */
  padding: 5px;
  padding-right: 0px;
}

.block-type-button {
  height: 40px;
  /* margin: 5px; */
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 5px;
  color: #eee;
  text-shadow: 0px 0px 4px black;
  width: 100%;
  transition: all 0.3s;
  /* border-top-left-radius: 8px;
  border-bottom-left-radius: 8px; */
  text-overflow: ellipsis;
  white-space: nowrap;
  user-select: none;
  border-bottom: 1px solid black;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.block-type-button:last-of-type {
  border-bottom: none;
}

.block-type-button:hover {
  width: 90%;
  transition: all 0.1s;
}

.block-type-button:active {
  width: 80%;
  transition: all 0.1s;
  margin-top: 4px;
  margin-bottom: 4px;
  height: 35px;
}

.block-type-button.selected-primary,
.block-type-button.selected-secondary {
  /* width: 100%; */
  margin-right: 50%;
  /* height: 60px; */
  z-index: 1;
  transition: all 0.1s;
  margin-top: 8px;
  margin-bottom: 8px;
  height: 50px;
  border-radius: 8px;
  justify-content: center;
}

.block-type-button.selected-primary:hover,
.block-type-button.selected-secondary:hover,
.block-type-button.selected-primary:active,
.block-type-button.selected-secondary:active {
  width: 100%;
}

.block-type-button.selected-primary {
  border: 2px solid #ff5353;
  box-shadow: 0px 0px 8px #b83030;
}

.block-type-button.selected-secondary {
  border: 2px solid #3e78ff;
  box-shadow: 0px 0px 8px #1641a5;
}

.block-type-button.selected-primary.selected-secondary {
  border: 2px solid #ff62ff;
  box-shadow: 0px 0px 8px #cf4acf;
}